body{
    padding: 0;
    margin: 0;
    background-color: rgb(236, 236, 236);
    font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana
}
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #4b82c2;
}
.div-nav > div > img{
    width: 35px;
} 
.div-nav > div >input{
    color: white;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(54, 79, 138);
    border: none;
    padding: 5px;
}
.div-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 50px;
}
.link{
    color: white;
}
.div-body{
    
    display: flex;
    justify-content: center;
    margin: 30px auto;
    height: 300px;
    width: 60%;
}
.image-body{
    width: 50%;
    text-align: center;
    margin-right: 70px;
    font-size: 12px;
}
.image-body > div > a{
    text-align: center;
    text-decoration: none;
    color: rgb(0, 49, 163);
}
.input-1{
    width: 47%;
    background-color: white;
    margin-top: 30px;
    padding: 20px;    
}
.input-1 > input {
   margin-top: 10px;
    border-radius: 3px;
    border: 1px solid lightslategray;
    padding: 8px;
    width: 270px;
}
.input-1 > button{
    color: white;
    background-color: rgb(102, 102, 255);;
    border: none;
    border-radius: 3px;
    width: 95px;
    height: 35px;
    margin-top: 10px;
}
.input-1 > a{
    color: rgb(72, 72, 252);
    font-size: 12px;
    margin-left: 8px;
}
.input-2{
    margin-top: 30px;
    padding: 10px;
    width: 50%;
    height: 110%;
    background-color: white;
    text-align: center;
}
.input-2 > p{
    font-size: 13px;
    margin-top: -18px;
    color: rgb(139, 139, 139);
}
.input-2 > div > p{
    font-size: 13px;
    margin-left: -190px;
    color: rgb(139, 139, 139);
}
.input-2 > input {
    margin-top: 10px;
     border-radius: 3px;
     border: 1px solid lightslategray;
     padding: 8px;
     width: 270px;
}
.input-2 > div > select{
    color: rgb(144, 144, 144);
    padding: 5px;
    margin-right: 10px;
}
.btn-in-2{

    background-color: rgb(61, 199, 37);
}
.btn2-in-2{
    background-color: rgb(50, 50, 250);
}
.input-2 > button{
    width: 100%;
    height: 10%;
    color: white;
    border-radius: 3px;
    margin-top: 10px;
    border:none;
}
.tegi{
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    width: 50%;
    height: 40%;
    background-color: white;
    color: rgb(156, 156, 156);
}
.tegi > a{
    color: rgb(140, 134, 182);
    text-decoration: none;
}